body {
    background-color: gray;
}
#wrapper {
    margin: 1em auto;
    padding: 0;
    width: 1200px;
    border: 5px solid black;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
header {
    grid-column: span 3;
    background-image: linear-gradient(to bottom, #8500ff, #6901cc, #4f019b, #36016d, #1f0042);
    border-bottom: 5px solid black;
    
}
h1 {
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
}

nav {
    grid-column: span 9;
    background-image: linear-gradient(to bottom, #8500ff, #6901cc, #4f019b, #36016d, #1f0042);
    border-left: 5px solid black;    
}
  
nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
  
nav li a {
    display: block;
    background-image: linear-gradient(to bottom, #8500ff, #6901cc, #4f019b, #36016d, #1f0042);
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    padding: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 5px 5px white;
    transition: background-image 10.0s, width 2.0s, color 2.0s;
}
nav li a:hover {
    background-image: linear-gradient(to bottom, #2600ff, #2a01cc, #1d019b, #17016d, #120042);
} 
main {
    background-color: blue;
    grid-column: span 9;
}
main img {
    grid-column: span 9;
    width: 850px;
    float: left;
    margin: 20px;
    border: 5px solid rgb(59, 57, 57);
}
aside {
    grid-column: span 3;
    background-color: #120042;
}
aside p {
    color: white;
    margin-left: 10px;
}
audio {
    margin-left: 10px;
}